<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入作業</title>
</head>
<body>
    <fieldset>
        <legend>會員登入</legend>
        <div>
            <form method="post" action="/users/login">
                <table>
                    <tr>
                        <td>使用者姓名</td>
                        <td><input type="password" name="name"/></td>
                    </tr>
                    <tr>
                        <td>使用者帳號</td>
                        <td><input type="password" name="account"/></td>
                    </tr>
                    <tr>
                        <td>使用者密碼</td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td>使用者電話</td>
                        <td><input type="text" name="phone"/></td>
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td><input type="text" name="email"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="reset" value="取消">
                            <input type="submit" value="登入">
                        </td>
                    </tr>
                </table>

            </form>
        </div>
		<!--渲染狀態 -->
		<div>
			<h4 th:text="${message}"></h4>
		</div>
    </fieldset>
</body>
</html>